<div class="row">
	<div class="col m4">
		
		<ul class="collection">
			<li class="collection-item">Choose a Group to Join.</li>
			<%#= render @groups %>
			<% @title_array.each do |t| %>
				<li class="collection-item"><%= link_to t.title, user_group_path(id: t.id) %></li>
		<% end %>
		</ul>
		<p><%= link_to 'New Group', new_user_group_path, class: 'btn' %></p>

		<ul class="collection">
		<% if @groups != nil %>
			<% for group in @groups %>
				<%= link_to(join_path) do %>
					<li class="collection-item"><%= "#{@join}" + group.title %></li>
				<% end %>
				<% end %>
		<% else %>
		<li class="collection-item"><p>Group Not Found</p></li>
		<% end %>
	</ul>
	</div>

	<div class = "container height col m4">
	<h1>Groups</h1>
		<div class="card">
			<div class="card-content">
				<span class="card-title">Search for a group</span>
				<%= form_tag(user_groups_path, method: :get) do %>
				<%= text_field_tag :term, params[:term] %>
				</div>
				<div class="card-action">
						<%= submit_tag 'Search', name: nil, class: 'btn' %>
				<% end %>
				</div>
		</div>
	</div>

	<div class="col m4">
		<h1>What are Groups?</h1>
		<p class="flow-text">What are Groups you ask?
		<br>Groups are a great way for students to find their lecturers and/or colleagues. This can also be a social ground for students. Bear in mind that lecturers will be able to monitor conversations within this environment.
		</p>
	</div>
</div>

