<!DOCTYPE html>
<html>
<head>
<title>--project s/ackboard--</title>
<%= csrf_meta_tags %>
<%= stylesheet_link_tag "https://fonts.googleapis.com/icon?family=Material+Icons" %>
<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <%= render partial: 'layouts/nav' %>
  <main>
    <%= yield%>
    <div class="row">
    <%= yield :side_bar %>
    <%= yield :chat_panel %>
    <br class="float">
    </div>
  </main>
  <%= render partial: 'layouts/footer'%>
</body>
  
</html>

  